 /* Карусель */

.carousel-control-prev-icon {
    width: 50px;
    height: 50px;
    background-image: url(../images/slider/arrow_circle_left.svg);
    background-size: 4rem;
 }

.carousel-control-next-icon {
    width: 50px;
    height: 50px;
    background-image: url(../images/slider/arrow_circle_right.svg);
    background-size: 4rem;
}