/* Верхняя нав-полоса ПОИСК  */

.form-control {
    height: 3rem;
}

.rav-logo {
    background-color: white;
    border-radius: 15px;
    margin-left: 0.8rem;
    margin-right: 1.5rem;
    margin-bottom: 2px;
}

.catalog-logo {
    background-color: white;
    border-radius: 10px;
    margin-left: 0.6rem;
    margin-right: 1.5rem;
    margin-bottom: 2px;
    padding-left: 0.6rem;
    padding-top: 1px;
}

.dropdown-menu {
    width: 90%;
    max-width: 250px;
 }

.catalog-word {
    font-family: Ubuntu, 'Courier New', Courier, monospace;
}

.form-control::-webkit-input-placeholder {
    color: lightblue;
    font-family: ubuntu, 'Courier New', Courier, monospace;
    transform:translate3d(0,-1px,0);
}

.search-fs {
    font-size: 20px;
    font-family: ubuntu, 'Courier New', Courier, monospace;
}

.form-control:focus {
    border-color: #FF0000;
    box-shadow:  0 0 10px 4px rgba(255, 0, 0, 0.8);
  }

.search_btn {
    margin-right: 2rem;
    margin-left: 1rem;
    background-color: black;
    width: 6rem;
    border-radius: 20px;
    border: solid 1px gray;
}

.catalog-button:hover {
    border-color: white;
    background-color: black;
}

.search_btn:hover {
    background-color: black;
    border-color: #FF0000;
    box-shadow:  0 0 10px 4px rgba(255, 0, 0, 0.8);
}

.search_btn:active {
    background-color: #292929 !important;
    border-color: #292929 !important;
}

.search_icon {
    fill: gray;
}

.header-icons {
    gap: 26px;
    margin-top: 5px;
    margin-right: 2rem;
}

.a-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
}

.svg-icon {
    fill: gray;
}

.svg-icon:hover {
    fill: white;
}

.span-number {
    max-width: 100%;
    background-color: #f91155;
    border-radius: 8px;
    color: #fff;
    height: 16px;
    line-height: 16px;
    padding: 0 9px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 13px;
    font-weight: 800;
}

.red-deco:hover {
    background-color: white;
    border-color: #FF0000;
    box-shadow:  0 0 10px 4px rgba(255, 0, 0, 0.8);
}

.btn-dark {
    margin-left: 1rem;
    border: solid 1px gray;
    width: 5rem;
}

.red-deco-btn:hover {
    background-color: black;
    border-color: #FF0000;
    box-shadow:  0 0 10px 4px rgba(255, 0, 0, 0.8);
}

.red-deco-btn:active {
    background-color: #292929 !important;
}