/* Поле со скидками */

    .discount_field {
        background-color: rgb(255,246,245);
        border-radius: 24px;
    }

    .field_text {
        text-align: left;
        padding: 0.5rem 0 1rem 1rem;
        font-family: ubuntu, 'Courier New', Courier, monospace;
        font-size: 1.5rem;
        font-weight: 800;
    }