/* Контейнер для карточек */

.card_container {
    font-size: 1.5rem;
    font-family: ubuntu, 'Courier New', Courier, monospace;
    background-color: white;

    border-radius: 16px;
}

.card_item_left_photos {
    width: 8%;
}

.card_item_left_photo {
    border-radius: 10px;
    height: 20%;
}

.card_item_left_photo_img {
    padding: 5px;
}

.card_item_left_photo_img:hover {
    border-radius: 10%;
    border-color: #FF0000;
    box-shadow:  0 0 10px 2px rgba(255, 0, 0, 0.8);
}

.card_item_large_photo {
    display: flex;
    justify-content: center;
    width: 37%;

}

.card_item_large_photo_img {
    width: 100%;
}

.card_item_descr_container {
    min-width: 55%;    
}

.card_item_params {
    font-size: 1rem;
    font-weight: 100;
    margin: 10px 10px 10px 20px;
}



/* Футер полоса */
.footer_container {
    background-color: black;
    margin-top: 1rem;
}

.footer_text_info {
    font-family: ubuntu, 'Courier New', Courier, monospace;
    margin: 0 1rem;    
    text-decoration: none;
    color: white;
    font-size: 14px;
    border-top: 1px solid red;
}

.field_text {
    font-size: 1.2rem;
    font-weight: bold;
}