{% load static %}
<!-- Слайдер (carousel) -->
<div class="container-fluid hide-me">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        
      <div class="carousel-item active">
        <img src="{% static 'assets/images/slider/prestig_100.png' %}" 
             class="d-block w-100 rounded-5" alt="prestig">
      </div>
        
      <div class="carousel-item">
        <a href="https://corp.suhareva-center.mos.ru/m/" target="_blank">
            <img src="{% static 'assets/images/slider/horse_100.png' %}"
                 class="d-block w-100 rounded-5" alt="horse">
        </a>
      </div>
        
      <div class="carousel-item">
        <a href="#">
            <img src="{% static 'assets/images/slider/black_all_100.png' %}" 
                 class="d-block w-100 rounded-5" alt="black">
        </a>
      </div>
        
    </div>
    <button class="carousel-control-prev" 
            type="button" 
            data-bs-target="#carouselExampleAutoplaying" 
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" 
            type="button" 
            data-bs-target="#carouselExampleAutoplaying" 
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>