{% load static %}  
<div class="container-fluid discount_field mt-4 pb-3 pt-3 hide-me"> <!-- Реклама между блоками -->
    <div class="container-fluid d-flex justify-content-around flex-wrap">  <!-- Группа карточек с рекламой --> 
  
        <a href="#">
          <img src="{% static 'assets/images/adv/may_brands.jpg' %}"
               alt="present" 
               class="mb-2 adv_card_img"> 
        </a>

        <a href="#">
          <img src="{% static 'assets/images/adv/present.jpg' %}" 
               alt="snowman" 
               class="mb-2 adv_card_img">
        </a>

        <a href="#">
          <img src="{% static 'assets/images/adv/snowman.jpg' %}" 
               alt="may" 
               class="adv_card_img">
        </a>
  
    </div> <!-- Конец группе карточек с рекламой -->
  </div> <!-- Конец Реклама между блоками -->